footer {
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
  font-family:'Poppins', sans-serif;
}

.imaging {
  border-radius: 100%;
}
.leftFooter {
  width: 20%;
  display: flex;
  font-family:'Poppins', sans-serif;
  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family:'Poppins', sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;
  text-align: center;
}

.midFooter > h1 {
  font-size: 2em;
  font-family:'Poppins', sans-serif;
  color: #ffffff;
  font-weight:600;
  letter-spacing: 5px;
}
.midFooter > p {
  max-width: 60%;
  font-family:'Poppins', sans-serif;
  margin: 1vmax auto;
  color: rgb(144, 148, 150);
}

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family:'Poppins', sans-serif;
  font-size: 1.4vmax;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1em;
  font-family:'Poppins', sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 1vmax;
}

.rightFooter > a:hover {
  color: #eb4034;
}
.rightFooter .social-icons {
  display:flex;
  gap:0.5em;
  margin-top:1em;
}
.rightFooter .social-icons a {
  font-size:10px;
}
